<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SMGDB" providerName="System.Data.SQLite" connectionString="Data Source=E:\GitHub\Preview\SMGServices\SMG.Sqlite\db\smg.sqlite;Version=3;" />
  </connectionStrings>
  <appSettings>
    <add key="NodeNumber" value="1380591"/>
  </appSettings>
</configuration>